.container {
margin-left: auto;
margin-right: auto;
text-align: center;
}

.burger-name{
font-size: 25px;
font-weight: 700;

}

body {
    background-image: url(../../assets/images/bgstill.jpg);
}

#right-text {
color : BLACK;
}


#left-text {
    color : BLACK;
    }

#main-text {
    text-align: center;
}

.col-6.right{
    background-image: url(../../assets/images/bgright.jpg);
}

.col-6.left{
    background-image: url(../../assets/images/bgleft.jpg);
}

